
!= page.content


div.micro-blog
    
    div.outer

        ul.nav.nav-tabs(role="tablist").ul-tabs
            li(role="presentation")
                a(href="#2022" aria-controls="2022" role="tab" data-toggle="tab") 2022年的微博
            li(role="presentation")
                a(href="#2021" aria-controls="2021" role="tab" data-toggle="tab") 2021年的微博
            li(role="presentation")
                a(href="#2020" aria-controls="2020" role="tab" data-toggle="tab") 2020年的微博
        .tab-content
            #2022.tab-pane(role="tabpanel")
                ul.list-group.ul-content-2022
            #2021.tab-pane(role="tabpanel")
                ul.list-group.ul-content-2021
            #2020.tab-pane(role="tabpanel")
                ul.list-group.ul-content-2020

