
block content
    if page.type == 'tags'
      include ./pages/tags.pug
    else if page.type == 'categories'
      include ./pages/categories.pug
    else if page.type == 'about'
      include ./pages/about.pug
    else if page.type == 'display'
      include ./pages/display.pug
    else 
      .inner
        h2= page.title
        != page.content
