
block content
  .inner
    h3= page.tag
    if page.posts.length > 0
    ul.list-group
      each post in page.posts.sort('date', -1).toArray()
        li.list-group-item.title
          a(href=config.root + post.path, target=theme.post.blank ? "_blank" : "_self")= post.title
          if (theme.list.date)
            div.date= date(post.date, 'YYYY/M/D')
    if theme.tags.all
      h3 标签云
      if site.tags && site.tags.length
        != tagcloud()
